# Jupyter Notebook
.ipynb_checkpoints
.DS_Store

# Repository Structure
conversion_tools/deepweeds_to_json/deepweeds_images/*.jpg
conversion_tools/deepweeds_to_json/*.json
conversion_tools/cwfid_to_json/*.yaml
conversion_tools/cwfid_to_json/annotations/*.yaml

# Images
# JPEG
*.jpg
*.jpeg
# PNG
*.png
