__pycache__

# Jupyter Notebook
.ipynb_checkpoints
.DS_Store

# Repository Structure
weedcoco/deepweeds_to_json/deepweeds_images/*.jpg
weedcoco/deepweeds_to_json/*.json
weedcoco/cwfid_to_json/*.yaml
weedcoco/cwfid_to_json/annotations/*.yaml
weedcoco/concatenation/*.json

# Images
# JPEG
*.jpg
*.jpeg
# PNG
*.png

# Annotations
*.xml

# test images for repo
!weedcoco/tests/repo/**/*.jpg
!weedcoco/tests/repo/**/*.png

# Dev Tools
.vscode/settings.json
