# Jupyter Notebook
.ipynb_checkpoints
.DS_Store

# Repository Structure
conversion_tools/deepweeds_to_json/deepweeds_images/*.jpg
/conversion_tools/deepweeds_to_json/*.json

# Images
# JPEG
*.jpg
*.jpeg
# PNG
*.png
