django==2.2.13
psycopg2
requests
django-cors-headers
celery==4.4.7
django-celery-results
django-celery-beat
redis
https://github.com/Sydney-Informatics-Hub/Weed-ID-Interchange/archive/dataset-summary.zip
